<!DOCTYPE html>
<html>
<head>
  <title>詳細</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
 
  <div class="row">
  <aside class="col-md-4">
  <section class="book_info">

  <%= link_to "購入はこちら","https://www.amazon.co.jp/",:target=>["_blank"] %><br>
 
  <h1><button class=""><%= link_to "トップページ", root_path %></button></h1>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
      <%= @id %>
  <h2><%= @title %></h2>
  <div><%= @author %> </div>

  <div><%= @overview %></div>
  
  <div><%= debug(params) if Rails.env.development? %></div>
</body>
</html>
