<!DOCTYPE html>
<html>
  <head>
    <title>一覧</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>

  <body>
  <p>books search</p>
    <%= form_tag(books_path) do %>
    <%= text_field_tag :search %><!--＃サーチという名のテキストボックス生成-->
    <%= submit_tag 'Search', :name => nil %>
    <% end %>

    <% @book.each do |book| %>
    <%= book.title %><br>
    <%= book.author %><br>
    <%= book.summary %><br>
    <%= link_to "購入はこちら","/"%><br>

    <%end%>
  </body>
</html>
